
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1 class="jumbotron text-center">FEU Chatbot</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div id="chatbox" class="border border-success">
                <p class="botText"><span>Hi! Im your Chatbot for School Enrollment! How may I help you?</span></p>
            </div>
            <div id="userInput">
                <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type Your Message Here">
                <input id="buttonInput" class="btn btn-success form-control" type="submit" value="Send">
				<button id="button">Start listening</button>
				<div id="result"></div>
      
            </div>
        </div>
    </div>

<script>
  
    document.getElementById("result").style.display = "none";
	
	
	window.addEventListener("DOMContentLoaded", () => {
	 const button = document.getElementById("button");
		const result = document.getElementById("result");
		
        let listening = false;
        const SpeechRecognition =
          window.SpeechRecognition || window.webkitSpeechRecognition;
	function getResponse() {
	    
        let userText = $("#textInput").val();
		
        let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        $.get("/get", { msg: userText }).done(function(data) {
		
        var botHtml = '<p class="botText"><span>' + data + '</span></p>';
        $("#chatbox").append(botHtml);
		
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
		document.getElementById("textInput").value = '';
		
});
}
    $("#textInput").keypress(function(e) {
    //if enter key is pressed
        if(e.which == 13) {
            getResponse();
			if(listening==true)
		{
		document.getElementById("button").click();
		document.getElementById("textInput").value = '';
		}
        }
    });
    $("#buttonInput").click(function() {
        getResponse();
		
		if(listening==true)
		{
		document.getElementById("button").click();
		
		document.getElementById("textInput").value = '';
		}
    });
       
        if (typeof SpeechRecognition !== "undefined") {
          const recognition = new SpeechRecognition();

          const stop = () => {
            recognition.stop();
            button.textContent = "Start listening";
		 };

          const start = () => {
            recognition.start();
            button.textContent = "Stop listening";
          };

          const onResult = event => {
            result.innerHTML = "";
			for (const res of event.results) {
              const text = document.createTextNode(res[0].transcript);
			  
              
			  const p = document.createElement("p");
              if (res.isFinal) {
                p.classList.add("final");
				
              }
              p.appendChild(text);
              result.appendChild(p);
            }
			document.getElementById("textInput").value = result.textContent;
			
          };
          recognition.continuous = true;
          recognition.interimResults = true;
          recognition.addEventListener("result", onResult);
          button.addEventListener("click", event => {
            listening ? stop() : start();
            listening = !listening;
          });
		  
        } else {
          button.remove();
        }
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>